@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  padding: 0;
}

.App h1{
  margin: 0;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #1D5D9B;
  color: #FFF;
}


.container{
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

@media screen and (max-width:900px){
  .container{
    display: block;
  }
}
